<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Seminario 1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controlador</display-name>
    <servlet-name>Controlador</servlet-name>
    <servlet-class>servlets.Controlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlador</servlet-name>
    <url-pattern>/Controlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IngredienteServlet</display-name>
    <servlet-name>IngredienteServlet</servlet-name>
    <servlet-class>servlets.IngredienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IngredienteServlet</servlet-name>
    <url-pattern>/IngredienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanServlet</display-name>
    <servlet-name>PlanServlet</servlet-name>
    <servlet-class>servlets.PlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanServlet</servlet-name>
    <url-pattern>/PlanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteServlet</display-name>
    <servlet-name>ClienteServlet</servlet-name>
    <servlet-class>servlets.ClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteServlet</servlet-name>
    <url-pattern>/ClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlatoServlet</display-name>
    <servlet-name>PlatoServlet</servlet-name>
    <servlet-class>servlets.PlatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlatoServlet</servlet-name>
    <url-pattern>/PlatoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OCServlet</display-name>
    <servlet-name>OCServlet</servlet-name>
    <servlet-class>servlets.OCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OCServlet</servlet-name>
    <url-pattern>/OCServlet</url-pattern>
  </servlet-mapping>
</web-app>